version: "3"

services:
  db:
    image: postgis/postgis
    container_name: db
    hostname: db
    environment:
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
  opencdms-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: opencdms-api
    hostname: opencdms-api
    ports:
      - "5000:5000"
    environment:
      POSTGRES_DSN: postgresql+psycopg2://postgres:password@db:5432/postgres
    volumes:
      - "${PWD}:/opt/project"
    entrypoint: ["bash", "entrypoint.sh"]
